.fas fa-pencil-alt {
    color: darkorange;
}
.fas fa-search {
    color: chartreuse;
}
.fas fa-code {
    color: darkorange;
}
.container-fluid p-0 section_5{
    background-color: chocolate;
}
.section_2 {
    background-color: chartreuse;
};
.d-flex flex-column text-center projects{
    background-color: coral;
}
.section_3 {
    color: blueviolet;
}
.section_4 {
    background-color: darkgoldenrod;
};